.main {
    p {
        font-size: 12px;
        text-decoration: underline;
        color: rgb(198, 198, 198);
    }
}

.authorsBlock {
    gap: 3px;
    max-height: 40px;
    overflow: hidden;

    p {
        display: inline-block;
    }
}

.bookMini {
    div {
        overflow: hidden;

        p {
            color: rgb(182, 182, 182);
            font-size: 12px;
        }
    }
}

.bookPage {
    div {
        h3 {
            font-size: 18px;
            text-decoration: underline;
            color: rgb(198, 198, 198);
        }
    }
}