.main {
    p {
        font-size: 12px;
        color: rgb(142, 142, 142);
        text-decoration: underline;
    }
}

.mini {}

.bookPageVariant {
    div {
        p {
            font-size: 16px;
            color: rgb(75, 75, 75);
            text-decoration: none;
        }
    }
}