.selectWrapper {
  background-color: white;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  width: 150px;
}

.select {
  border: 1.2px solid black;
  border-radius: 5px;
  width: 100%;
  background-color: white;
  position: absolute;
  top: 106%;
  left: 0;
  overflow: hidden;
  z-index: 2;
}

.placeholder {
  padding: 7px 4px 7px 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  svg {
    transition: 0.2s transform;
  }

  &.active {
    svg {
      transition: 0.2s transform;
      transform: rotate(180deg);
    }
  }
}